#addonBox {
    position: absolute;
    width: 600px;
    pointer-events: auto;
    z-index: 301;
    font-family: alegreya;
}

#addonBoxHandle {
    height: 32px;
    display: block;
    width: 100%;
    line-height: 32px;
    background-color: #333745;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
}

#addonBoxIcon {
    margin-left: 5px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
    vertical-align: top;
}

#addonBoxUL {
    margin: 0px;
    background-color: white;
    list-style-position: inside;
    padding: 0px;
}

#addonBoxUL > li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}