#changelogAjaxTarget > div > h1 {
    font-size: 1.2em;
    margin: 0px;
}

#changelogAjaxTarget > div > p {
    margin: 0px;
    text-indent: 2em;
}

#changelogAjaxTarget > div.newUpdate {
    background-color: #d28f8f;
}

#changelogAjaxTarget > div {
    padding: 10px;
}

#changelogAjaxTarget > div:hover {
    background-color: #eeeeee;
}

#changelogAjaxTarget > div.newUpdate:hover {
    background-color: #9f7c7c;
}

#changelogUpdateNotice {
    display: none;
    margin: 15px;
}

#changelogUpdateNotice > p {
    margin: 0px;
}