#forumRecent > ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    font-weight: bold;
}

#forumRecent > ul > li {
    padding: 5px;
    border-bottom: 1px solid #000;
}

#forumRecent > ul > li:last-child {
    border-bottom: none;
}

#forumRecent > ul > li:hover {
    background-color: #e1e1e1;
}