/* Orelhas */

#leftHandler {
    position: absolute;
    display: block;
    width: 100px;
    padding-right: 10px;
    left: -100px;
    top: 0px;
    bottom: 0px;
    background-image: url('../img/indicatorlefttoright.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #414141;
    z-index: 300;
}

#leftHandler.handlerShow {
    left: 0px;
}

#leftHandler.fullScreen {
    left: 0px;
    background-image: none;
    padding-right: 0px;
}

#rightHandler {
    position: absolute;
    display: block;
    padding-left: 10px;
    width: 100px;
    right: -100px;
    top: 0px;
    bottom: 0px;
    background-image: url('../img/indicatorrighttoleft.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #414141;
    z-index: 300;
}

#rightHandler.handlerShow {
    right: 0px;
}

#rightHandler.fullScreen {
    right: 0px;
    background-image: none;
    padding-left: 0px;
}

#rightHandler a, #leftHandler a {
    width: 100px;
    display: block;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
}

#rightHandler a span, #leftHandler a span {
    position: absolute;
    bottom: 2px;
    left: 3px;
    right: 3px;
    text-align: center;
    font-size: 0.9em;
    font-family: clear_sans;
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#rightHandler a:hover span, #leftHandler a:hover span {
    text-shadow:
    -1px -1px 0 #500,
    1px -1px 0 #500,
    -1px 1px 0 #500,
    1px 1px 0 #500;
}