/* Icones */

#d4Button {
    background-image: url('../img/chat/d4.png');
}

#d6Button {
    background-image: url('../img/chat/d6.png');
}

#d8Button {
    background-image: url('../img/chat/d8.png');
}

#d10Button {
    background-image: url('../img/chat/d10.png');
}

#d12Button {
    background-image: url('../img/chat/d12.png');
}

#d18Button {
    background-image: url('../img/chat/d18.png');
}

#d20Button {
    background-image: url('../img/chat/d20.png');
}

#d100Button {
    background-image: url('../img/chat/d100.png');
}

#chatScrolltoBottom {
    background-image: url('../img/chat/btBottom.png');
}

#chatNotLoad {
    background-image: url('../img/chat/notLoad.png');
    -webkit-animation: rotation 1.2s infinite linear;
}

#chatNotConnError {
    background-image: url('../img/chat/notConnError.png');
}

#changeFontSmall {
    background-image: url('../img/chat/buttonFontDecrease.png');
}

#changeFontBig {
    background-image: url('../img/chat/buttonFontIncrease.png');
}

#modulesButton {
    background-image: url('../img/chat/buttonModules.png');
}

#languagesButton {
    background-image: url('../img/chat/buttonLanguages.png');
}

#combatTrackerButton {
    background-image: url('../img/chat/buttonCombat.png');
}

#chatSettings {
    background-image: url('../img/chat/buttonSettings.png');
}

#chatSettings.toggled {
    border-color: #17a627;
}

#chatSettings.toggled:hover {
    border-color: #41cb50;
}

#leaveChatBt {
    background-image: url('../img/chat/buttonLeave.png');
}

#avatarUpButton {
    background-image: url('../img/chat/buttonUp.png');
}

#avatarDownButton {
    background-image: url('../img/chat/buttonDown.png');
}

#personaUpButton {
    background-image: url('../img/chat/buttonUp.png');
}

#personaDownButton {
    background-image: url('../img/chat/buttonDown.png');
}

#sendMessageButton {
    background-image: url('../img/chat/buttonSend.png');
}

#personaAddButton {
    background-image: url('../img/chat/buttonPlus.png');
}

#personaRemoveButton {
    background-image: url('../img/chat/buttonMinus.png');
}

#rolldiceButton {
    background-image: url('../img/chat/buttonCorrect.png');
}

#rolldiceButton:hover {
    border-color: #398819;
}

#musicPlayerActionButton {
    background-image: url('../img/chat/buttonPlayPause.png');
}

#musicPlayerRepeatButton {
    background-image: url('../img/chat/buttonRepeat.png');
}


/* Languages */

.pt_br_Flag {
    background-image: url('../img/language/PT_BR.png');
}

.en_Flag {
    background-image: url('../img/language/EN.png');
}

.fr_Flag {
    background-image: url('../img/language/FR.png');
}

.sp_Flag {
    background-image: url('../img/language/SP.png');
}


/* Menu Icons */
#openTwitch {
    background-image: url('../img/menu/twitchIcon.png');
}

#openHitbox {
    background-image: url('../img/menu/hitboxIcon.png');
}


/* Combat Tracker */
#combatTrackerBody > p span.hp {
    background-image: url('../img/chat/trackerHP.png');
}

#combatTrackerBody > p span.mp {
    background-image: url('../img/chat/trackerMP.png');
}

#combatTrackerBody > p > a.deleteRow {
    background-image: url('../img/chat/trackerDelete.png');
}

#combatTrackerBody a.setTarget {
    background-image: url('../img/chat/trackerTarget.png');
}

#combatTrackerBody a.setTurn {
    background-image: url('../img/chat/trackerSetTurn.png');
}

#combatTrackerBody a.openSheet {
    background-image: url('../img/chat/trackerSheet.png');
}

#combatTrackerAddSheet {
    background-image: url('../img/chat/trackerAdd.png');
}

#combatTrackerTurn {
    background-image: url('../img/chat/trackerNextTurn.png');
}

#combatTrackerNewRound {
    background-image: url('../img/chat/trackerNewRound.png');
}
