/* Icones */

#d4Button {
    background-image: url('../img/chat/d4.png');
}

#d6Button {
    background-image: url('../img/chat/d6.png');
}

#d8Button {
    background-image: url('../img/chat/d8.png');
}

#d10Button {
    background-image: url('../img/chat/d10.png');
}

#d12Button {
    background-image: url('../img/chat/d12.png');
}

#d18Button {
    background-image: url('../img/chat/d18.png');
}

#d20Button {
    background-image: url('../img/chat/d20.png');
}

#d100Button {
    background-image: url('../img/chat/d100.png');
}

#chatScrolltoBottom {
    background-image: url('../img/chat/btBottom.png');
}

#chatNotLoad {
    background-image: url('../img/chat/notLoad.png');
    -webkit-animation: rotation 1.2s infinite linear;
}

#chatNotConnError {
    background-image: url('../img/chat/notConnError.png');
}

#changeFontSmall {
    background-image: url('../img/chat/buttonFontDecrease.png');
}

#changeFontBig {
    background-image: url('../img/chat/buttonFontIncrease.png');
}

#modulesButton {
    background-image: url('../img/chat/buttonModules.png');
}

#languagesButton {
    background-image: url('../img/chat/buttonLanguages.png');
}

#combatTrackerButton {
    background-image: url('../img/chat/buttonCombat.png');
}

#chatSettings {
    background-image: url('../img/chat/buttonSettings.png');
}

#chatSettings.toggled {
    border-color: #17a627;
}

#chatSettings.toggled:hover {
    border-color: #41cb50;
}

#leaveChatBt {
    background-image: url('../img/chat/buttonLeave.png');
}

#avatarUpButton {
    background-image: url('../img/chat/buttonUp.png');
}

#avatarDownButton {
    background-image: url('../img/chat/buttonDown.png');
}

#personaUpButton {
    background-image: url('../img/chat/buttonUp.png');
}

#personaDownButton {
    background-image: url('../img/chat/buttonDown.png');
}

#sendMessageButton {
    background-image: url('../img/chat/buttonSend.png');
}

#personaAddButton {
    background-image: url('../img/chat/buttonPlus.png');
}

#personaRemoveButton {
    background-image: url('../img/chat/buttonMinus.png');
}

#rolldiceButton {
    background-image: url('../img/chat/buttonCorrect.png');
}

#rolldiceButton:hover {
    border-color: #398819;
}

#musicPlayerActionButton {
    background-image: url('../img/chat/buttonPlayPause.png');
}

#musicPlayerRepeatButton {
    background-image: url('../img/chat/buttonRepeat.png');
}


/* Languages */

.pt_br_Flag {
    background-image: url('../img/language/PT_BR.png');
}

.en_Flag {
    background-image: url('../img/language/EN.png');
}

.fr_Flag {
    background-image: url('../img/language/FR.png');
}

.sp_Flag {
    background-image: url('../img/language/SP.png');
}


/* Menu Icons */

#callChatWindowBt {
    background-image: url('../img/menu/chatIcon.png');
}

#callGamesWindowBt {
    background-image: url('../img/menu/gamesIcon.png');
}

#callSettingsWindowBt {
    background-image: url('../img/menu/configIcon.png');
}

#navigationBt {
    background-image: url('../img/menu/communityIcon.png');
}

#logoutBt {
    background-image: url('../img/menu/logoutIcon.png');
}


#hideRightWindowsBt {
    background-image: url('../img/menu/hideWindows.png');
}

#openHitbox {
    background-image: url('../img/menu/hitboxIcon.png');
}

#callSheetsWindowBt {
    background-image: url('../img/menu/fichasIcon.png');
}

#callSheetWindowBt {
    background-image: url('../img/menu/fichaIcon.png');
}

#openSounds {
    background-image: url('../img/menu/soundIcon.png');
}

#openImagesBt {
    background-image: url('../img/menu/imagemIcon.png');
}

#myAccountBt {
    background-image: url('../img/menu/accountIcon.png');
}

#openYoutube {
    background-image: url('../img/menu/videoIcon.png');
}


/* Combat Tracker */
#combatTrackerBody > p span.hp {
    background-image: url('../img/chat/trackerHP.png');
}

#combatTrackerBody > p span.mp {
    background-image: url('../img/chat/trackerMP.png');
}

#combatTrackerBody > p > a.deleteRow {
    background-image: url('../img/chat/trackerDelete.png');
}

#combatTrackerBody a.setTarget {
    background-image: url('../img/chat/trackerTarget.png');
}

#combatTrackerBody a.setTurn {
    background-image: url('../img/chat/trackerSetTurn.png');
}

#combatTrackerBody a.openSheet {
    background-image: url('../img/chat/trackerSheet.png');
}

#combatTrackerAddSheet {
    background-image: url('../img/chat/trackerAdd.png');
}

#combatTrackerTurn {
    background-image: url('../img/chat/trackerNextTurn.png');
}

#combatTrackerNewRound {
    background-image: url('../img/chat/trackerNewRound.png');
}


#sheetSaveSuccess {
    background-image: url('../img/sheet/successImage.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}

#sheetSaveError {
    background-image: url('../img/sheet/errorImage.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}


/* Styled Window */

div.styledWindow > h1 > a.closeWindow {
    background-image: url('../img/closeButton.png');
}

/* Games */
#gamesList a.delete {
    background-image: url('../img/games/buttonDelete.png');
}
#gamesList a.leave {
    background-image: url('../img/games/buttonDelete.png');
}
#gamesList a.options {
    background-image: url('../img/games/buttonOptions.png');
}

#gamesList a.permissions {
    background-image: url('../img/games/buttonOptions.png');
}


/* Sheets */
#sheetListDiv .safeIcon {
    background-image: url('../img/sheet/sistemaSafe.png');
}

#sheetListDiv .unsafeIcon {
    background-image: url('../img/sheet/sistemaUnsafe.png');
}

#sheetListDiv > div.open > p.folder > a.icon {
    background-image: url('../img/sheet/iconFolder.png');
    background-position: left;
}

#sheetListDiv > div.open > p.folder.open > a.icon {
    background-position: right;
}

/* Sounds */

#soundList > div.folder > div.folderTitle > a.openIcon {
    background-image: url('../img/sounds/openButton.png');
}

#soundList > div.folder > div.folderTitle > a.upIcon {
    background-image: url('../img/sounds/upButton.png');
}

#soundList > div.folder > div.folderTitle > a.downIcon {
    background-image: url('../img/sounds/downButton.png');
}

#soundList > div.folder > div.folderTitle > a.delIcon {
    background-image: url('../img/sounds/deleteButton.png');
}


/* Sheets */
#closeWindowButton {
    background-image: url('../img/sheet/iconHideWindow.png');
}

#saveButton {
    background-image: url('../img/sheet/iconSave2.png');
}

#editButton {
    background-image: url('../img/sheet/iconEdit2.png');
}

#exportButton {
    background-image: url('../img/sheet/iconOutbox2.png');
}

#importButton {
    background-image: url('../img/sheet/iconInbox2.png');
}

#automaticButton {
    background-image: url('../img/sheet/iconAutomatic2.png');
}

#closeButton {
    background-image: url('../img/sheet/iconClose2.png');
}

#reloadButton {
    background-image: url('../img/sheet/iconReload2.png');
}

#fullReloadButton {
    background-image: url('../img/sheet/iconFullReload2.png');
}

/* Painting */
.paintIconSmall {
    background-image: url('../img/paint/Small.png');
}

.paintIconMedium {
    background-image: url('../img/paint/Medium.png');
}

.paintIconLarge {
    background-image: url('../img/paint/Large.png');
}

.paintIconClear {
    background-image: url('../img/paint/Clear.png');
}

.paintIconLock {
    background-image: url('../img/paint/Lock.png');
}

.paintIconEraser {
    background-image: url('../img/paint/Eraser.png');
}

/* Icones Game Permissions */
.gamePermIconView {
    background-image: url("../img/games/permView.png");
}
.gamePermIconEdit {
    background-image: url("../img/games/permEdit.png");
}
.gamePermIconCreate {
    background-image: url("../img/games/permCreate.png");
}
.gamePermIconInvite {
    background-image: url("../img/games/permInvite.png");
}

/* Icones Universais */
.uiconShare {
    background-image: url('../img/icon/Share.png');
}

.uiconDelete {
    background-image: url('../img/icon/Delete.png');
}

.uiconPerson {
    background-image: url('../img/icon/Persona.png');
}

.uiconView {
    background-image: url('../img/icon/View.png');
}

.uiconClose {
    background-image: url('../img/closeButton.png');
}

.uiconFolder {
    background-image: url('../img/icon/Folder.png');
}

.uiconCloud {
    background-image: url('../img/icon/Cloud.png');
}

.uiconFolderButton {
    background-image: url('../img/icon/FolderButton.png');
}