#imageUpload {
    border-top: solid 1px #8e8e8e;
    text-align: center;
}

#imageUpload > div > input {
    display: block;
    margin: auto;
}

#imageLinkList .button, #imageList .button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

#imageLinkList .floatRight, #imageList .floatRight {
    float: right;
    margin-left: 5px;
}

#imageLinkList .floatLeft, #imageList .floatLeft {
    float: left;
    margin-right: 5px;
}


#imageLinkList > div {
    display: none;
}

#imageLinkList > p {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0px;
}

#imageLinkList > p:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}

#imageLinkList > p.toggled {
    background-color: #bfbfbf;
}

#imageLinkList > p.toggled + div {
    display: block;
}

#imageLinkList > p > a {
    display: block;
    float: left;
    width: 20px;
    margin-top: 10px;
    height: 20px;
    background-position: left top;
}

#imageLinkList > p.toggled > a {
    background-position: right top;
}

#imageLinkList > div > p, #imageList > div > p {
    line-height: 40px;
    font-weight: bold;
    min-height: 40px;
    margin: 0px;
}

#imageLinkList > div > p:hover, #imageList > div > p:hover {
    background-color: #e3e3e3;
}