#languageTracker {
    display: block;
    top: 20px;
    left: 100px;
    width: 500px;
    position: absolute;
    z-index: 301;
    font-family: alegreya;
    background-color: #fff;
    pointer-events: auto;
}

#languageTrackerHandle {
    display: block;
    width: 100%;
    background-color: #333745;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

#languageTrackerHandle:hover {
    cursor: move;
}

#languageTrackerHide {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-right: -40px;
    width: 40px;
    font-size: 2em;
    text-align: center;
}

#languageTrackerHide:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
}

#languageTrackerHide:active {
    background-color: rgba(255,255,255,.1);
}

#languageTrackerBody {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

#languageTrackerBody > p {
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
}

#languageTrackerBody > p:hover {
    background-color: #e2e2e2;
}

#languageTrackerBody > p > span.player {
    font-weight: bold;
}

#languageTrackerBody > p > span.languages > span {
    border: solid 1px #000;
    padding: 3px;
    margin-right: 6px;
}

#languageTrackerBody a.deleteLanguage, #languageTrackerBody a.addLanguage {
    color: #5140e5;
    font-weight: bold;
}

#languageTrackerBody a.deleteLanguage:hover, #languageTrackerBody a.addLanguage:hover {
    color: #1b00ff;
    cursor: pointer;
}

#languageTrackerBody a.deleteLanguage:active, #languageTrackerBody a.addLanguage:active {
    color: #0f0090;
}