#sheetImportForm, #sheetExportForm {
    position: absolute;
    display: block;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    bottom: 40px;
    left: 155px;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#sheetExportForm {
    left: 220px;
}

#sheetSaveSuccess, #sheetSaveError {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 300px;
}

#sheetSaveSuccess > h1, #sheetSaveError > h1 {
    display: block;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    text-indent: 1em;
}

#sheetSaveSuccess {
    background-color: #dcffe4;
    border: solid 1px #00a92a;
}

#sheetSaveError {
    background-color: #ffe0e0;
    border: solid 1px #a90000;
}

#sheetSaveSuccess > p, #sheetSaveError > p {
    padding: 5px;
}

#sheetImportForm > textarea, #sheetExportForm > textarea {
    display: block;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
}

#sheetImportForm > input, #sheetExportForm > input {
    display: block;
    margin: auto;
}

#sheetButtons > a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#sheetButtons > a.toggled {
    background-color: rgba(0,255,0,.5);
}

#saveButton {
    background-image: url('../img/sheet/iconSave.png');
}

#editButton {
    background-image: url('../img/sheet/iconEdit.png');
}

#exportButton {
    background-image: url('../img/sheet/iconOutbox.png');
}

#importButton {
    background-image: url('../img/sheet/iconInbox.png');
}

#sheetListContainer {
    position: absolute;
    right: 10px;
    top: 4px; 
    height: 36px; 
    left: 10px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

#sheetListContainer::-webkit-scrollbar {
    height: 6px;
}

#sheetListContainer::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #333745;
    -webkit-box-shadow: none;
}
 
#sheetListContainer::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #464c70;
    -webkit-box-shadow: none;
}

#sheetList {
    text-align: right;
    white-space: nowrap;
}

#sheetList > a {
    line-height: 30px;
    padding-bottom: 6px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    z-index: 110;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    max-width: 80px;
    max-height: 36px;
    overflow: hidden;
    display: inline-block;
}

#sheetList > a.character {
    background-color: #6c7394;
}

#sheetList > a.character.toggled {
    background-color: #333745;
    color: #0fd6c7;
}

#sheetList > a.character:hover {
    cursor: pointer;
    background-color: #545c81;
}

#sheetList > a.character:active {
    background-color: #6a6f88;
}

#sheetList > a.character.toggled:hover {
    cursor: default;
    background-color: #333745;
}

#sheetList > a.character.toggled:active {
    background-color: #333745;
}




#sheetList > a.nonplayer {
    background-color: #968279;
}

#sheetList > a.nonplayer.toggled {
    background-color: #734443;
    color: #fab600;
}

#sheetList > a.nonplayer:hover {
    cursor: pointer;
    background-color: #886c5f;
}

#sheetList > a.nonplayer:active {
    background-color: #9c8175;
}

#sheetList > a.nonplayer.toggled:hover {
    cursor: default;
    background-color: #734443;
}

#sheetList > a.nonplayer.toggled:active {
    background-color: #734443;
}


#sheetWindow {
    overflow-x: hidden;
    overflow-y: auto;
}

#sheetViewer {
    position: absolute;
    top: 40px;
    right: 0px;
    left: 10px;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

#sheetButtons {
    position: absolute;
    bottom: 10px;
    height: 20px;
    left: 10px;
    right: 10px;
    text-align: center;
}