#sheetImportForm, #sheetExportForm {
    position: absolute;
    display: block;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    bottom: 40px;
    left: 210px;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#sheetExportForm {
    left: 270px;
}

#sheetSaveSuccess, #sheetSaveError {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 300px;
}

#sheetSaveSuccess > h1, #sheetSaveError > h1 {
    display: block;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    text-indent: 1em;
}

#sheetSaveSuccess {
    background-color: #dcffe4;
    border: solid 1px #00a92a;
}

#sheetSaveError {
    background-color: #ffe0e0;
    border: solid 1px #a90000;
}

#sheetSaveSuccess > p, #sheetSaveError > p {
    padding: 5px;
}

#sheetImportForm > textarea, #sheetExportForm > textarea {
    display: block;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
}

#sheetImportForm > input, #sheetExportForm > input {
    display: block;
    margin: auto;
}

#sheetButtons > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px;
}

#saveButton {
    background-image: url('../img/sheet/iconSave2.png');
}

#editButton {
    background-image: url('../img/sheet/iconEdit2.png');
}

#exportButton {
    background-image: url('../img/sheet/iconOutbox2.png');
}

#importButton {
    background-image: url('../img/sheet/iconInbox2.png');
}

#automaticButton {
    background-image: url('../img/sheet/iconAutomatic2.png');
}

#closeButton {
    background-image: url('../img/sheet/iconClose2.png');
}

#reloadButton {
    background-image: url('../img/sheet/iconReload2.png');
}

#fullReloadButton {
    background-image: url('../img/sheet/iconFullReload2.png');
}

#sheetListContainer {
    position: absolute;
    right: 10px;
    top: 4px; 
    height: 36px; 
    left: 10px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

#sheetListContainer::-webkit-scrollbar {
    height: 6px;
}

#sheetListContainer::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #333745;
    -webkit-box-shadow: none;
}
 
#sheetListContainer::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #464c70;
    -webkit-box-shadow: none;
}

#sheetList {
    text-align: right;
    white-space: nowrap;
}

#sheetList > a {
    line-height: 30px;
    padding-bottom: 6px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    z-index: 110;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    max-width: 80px;
    max-height: 36px;
    overflow: hidden;
    display: inline-block;
}

#sheetList > a.character {
    background-color: #6c7394;
}

#sheetList > a.character.toggled {
    background-color: #333745;
    color: #0fd6c7;
}

#sheetList > a.character:hover {
    cursor: pointer;
    background-color: #545c81;
}

#sheetList > a.character:active {
    background-color: #6a6f88;
}

#sheetList > a.character.toggled:hover {
    cursor: default;
    background-color: #333745;
}

#sheetList > a.character.toggled:active {
    background-color: #333745;
}




#sheetList > a.nonplayer {
    background-color: #968279;
}

#sheetList > a.nonplayer.toggled {
    background-color: #734443;
    color: #fab600;
}

#sheetList > a.nonplayer:hover {
    cursor: pointer;
    background-color: #886c5f;
}

#sheetList > a.nonplayer:active {
    background-color: #9c8175;
}

#sheetList > a.nonplayer.toggled:hover {
    cursor: default;
    background-color: #734443;
}

#sheetList > a.nonplayer.toggled:active {
    background-color: #734443;
}


#sheetWindow {
    overflow-x: hidden;
    overflow-y: hidden;
}

#sheetViewer {
    position: absolute;
    top: 40px;
    right: 0px;
    left: 10px;
    bottom: 40px;
    overflow-x: hidden;
}

#sheetButtons {
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    text-align: center;
}


#controleCombatList > p {
    line-height: 60px;
}

#controleCombatList > p:hover {
    background-color: #cbcbcb;
}

#controleCombatList > p.toggled {
    background-color: #ffebeb;
}

#controleCombatList > p.toggled:hover {
    background-color: #ffcece;
}

#controleCombatList > p > a.deleteButton {
    height: 50px;
    width: 35px;
}

#controleCombatList > p > span.charName {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
}

#controleCombatList > p > span.charInitiative {
    margin: 0px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 10%;
    background-color: #fff;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: solid 1px #000;
}

#controleSheetList {
    background-color: #fff;
    border: solid 1px #000;
    font-size: 1em;
    outline: none;
}

#controleSheetList:hover {
    color: #8a8a8a;
    border-color: #8a8a8a;
}

#controleCombatList input {
    width: 30px;
    line-height: 20px;
    height: 30px;
    margin-top: -5px;
    vertical-align: top;
    font-size: 1em;
    text-align: center;
}

#controleClone {
    background-image: url('../img/dfs/newWindow.png');
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: -100px;
}

body > #combatTracker {
    width: 700px;
}

body > #combatTracker p {
    margin: 0px;
}

body > #combatTracker .floatRight {
    float: right;
}

body > #combatTracker > .fullWidth {
    width: 100%;
}

body > #combatTracker > .blueBG {
    background-color: #333745;
    color: #ffffff;
}

body > #combatTracker > .header {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

body > #combatTracker > .whiteBG {
    background-color: #fff;
    color: #000;
}

body > #combatTracker .deleteButton {
    background-image: url('../img/dfs/fechar1-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 19px;
    height: 18px;
    vertical-align: middle;
}

body > #combatTracker .deleteButton:hover {
    cursor: pointer;
    background-image: url('../img/dfs/fechar2-icon.png');
}