#soundWindow > div {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #FFF;
    border: solid 2px #000;
    font-family: alegreya;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
}

#soundWindow > div > h1 {
    text-align: center;
}

#soundWindow > div > p {
    padding-left: 5px;
    padding-right: 10px;
    text-align: justify;
    text-indent: 1em;
}

#soundWindow > div > p.centered {
    padding: 0px;
    text-align: center;
    text-indent: 0px;
}

#soundList > div.folder > div.folderSounds {
    padding-left: 10px;
    padding-right: 10px;
}

#soundList > div.folder > div.folderSounds > span {
    min-width: 150px;
    display: inline-block;
}

#soundList > div.folder > div.folderTitle {
    position: relative;
}

#soundList > div.folder > div.folderTitle:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

#soundList > div.folder > div.folderTitle > a {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

#soundList > div.folder > div.folderTitle > a.melded {
    background-position: left top;
}

#soundList > div.folder > div.folderTitle:hover > a.melded {
    background-position: right top;
}

#soundList > div.folder > div.folderTitle:active > a.melded {
    background-position: left center;
}

#soundList > div.folder > div.folderTitle.toggled > a.melded {
    background-position: right center;
}

#soundList > div.folder > div.folderTitle.toggled:hover > a.melded {
    background-position: left bottom;
}

#soundList > div.folder > div.folderTitle.toggled:active > a.melded {
    background-position: right bottom;
}

#soundList > div.folder > div.folderTitle > a.left {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#soundList > div.folder > div.folderTitle > a.right {
    float: right;
    margin-right: 10px;
}

#soundList > div.folder > div.folderTitle > p {
    line-height: 30px;
    font-size: 1.1em;
}

#soundList > div.folder > div.folderTitle + div.folderSounds {
    display: none;
}

#soundList > div.folder > div.folderTitle.toggled + div.folderSounds {
    display: block;
}

#soundLinkForm, #soundLinkDropbox, #soundsMethodForm {
    text-align: center;
}

#soundDropbox {
    width: 500px;
    height: 100px;
}


/* Icons */

#soundList > div.folder > div.folderTitle > a.openIcon {
    background-image: url('../img/sounds/openButton.png');
}

#soundList > div.folder > div.folderTitle > a.upIcon {
    background-image: url('../img/sounds/upButton.png');
}

#soundList > div.folder > div.folderTitle > a.downIcon {
    background-image: url('../img/sounds/downButton.png');
}

#soundList > div.folder > div.folderTitle > a.delIcon {
    background-image: url('../img/sounds/deleteButton.png');
}