body {
    min-height: 800px;
}

#stream {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: #000;
    width: 854px;
    height: 480px;
    left: 100px;
    top: 10px;
}

#youtubeiFrame {
    position: fixed;
    display: block;
    width: 854px;
    height: 480px;
    left: 100px;
    top: 10px;
    right: initial;
    bottom: initial;
    z-index: 200;
    border: none;
    pointer-events: auto;
}

#youtubeWindow > h1 > a {
    position: fixed;
    left: 955px;
    top: 10px;
}

#rightWindow, #youtubeWindow {
    overflow: visible;
    border: none;
}

#youtubeWindow, #rightWindow {
    z-index: 200;
}

#stream > img {
    width: 854px;
    height: 480px;
}

#avatarContainer {
    position: fixed;
    left: 100px;
    top: 388px;
    width: 854px;
    height: 98px;
    z-index: 50;
    background-color: rgba(0,0,0,.5);
    border-top: 5px solid #000;
}

div.avatarWrapper {
    float: right;
}

#avatarBox {
    margin-top: 7px;
    right: 0px;
}

.jspTrack
{
    background: #7e7e7e;
}

.jspDrag
{
    background: #4e4e4e;
}

#avatarButtons {
    display: none;
    margin-right: 7px;
}

#areaChatBox {
    position: fixed;
    left: 100px;
    top: 10px;
    width: 549px;
    height: 378px;
    z-index: 100;
    border: none;
    border-right: 5px #000 solid;
}
#areaChat {
    border: none;
}

#leftWindow, #chatWindow, #areaChat {
    z-index: 100;
    overflow: visible;
}

#pictureContainer {
    position: fixed;
    left: 626px;
    border-left: solid 5px #000;
    top: 10px;
    right: initial;
    bottom: initial;
    width: 323px;
    height: 480px;
    z-index: 45;
    overflow: hidden;
}

#pictureShow {
    position: absolute;
    left: -100px;
    top: 0px;
    right: -100px;
    bottom: 0px;
    z-index: 45;
}

#pictureContainer a {
    display: none;
}

#areaChatButtons {
    position: fixed;
    right: 10px;
    top: 10px;
}

#chatScrolltoBottom {
    position: fixed;
    left: 10px;
    top: 400px;
}

/* Smaller Tracker */
body #combatTracker {
    width: 344px;
}

body #combatTrackerBody {
    max-height: 280px;
}

body #combatTracker a.deleteRow, body #combatTracker a.openSheet, body #combatTracker a.setTurn, body #combatTracker a.setTarget, body #combatTrackerFooter {
    opacity: 0;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: block;
}

/* New Picture */
body #pictureWindow {
    position: fixed;
    left: 649px;
    border: none;
    border-left: solid 5px #000;
    top: 10px;
    right: initial;
    bottom: initial;
    width: 300px;
    height: 480px;
    z-index: 45;
    overflow: hidden;
    background-color: transparent;
}

body #pictureElement {
    border: none;
    -webkit-filter: brightness(1);
}

body #pictureCanvas {
    border: none;
}

body #picturePaint {
    position: fixed;
    right: 60px;
    top: 10px;
    left: initial;
    bottom: initial;
    height: 100px;
    width: 40px;
}

body #pictureWindowClose {
    display: none;
}