div.styledWindow {
    overflow-x: visible;
    overflow-y: auto;
    font-family: alegreya;
    max-height: 100%;
}

div.styledWindow > h1 {
    display: block;
    height: 30px;
    background-color: #333745;
    color: #fff;
    max-height: 100px;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 30px;
    text-indent: 1em;
    overflow: hidden;
    width: 98%;
    margin: auto;
    margin-top: 10px;
}

div.styledWindow > div {
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    background-color: white;
}

div.styledWindow > div.singleton {
    overflow-y: auto;
    margin-bottom: 10px;
}

div.styledWindow > div > p {
    margin: 0px;
    padding: 10px;
    text-indent: 1em;
    text-align: justify;
}

div.styledWindow > div > .centered {
    text-indent: 0px;
    text-align: center;
}

div.styledWindow > div > p.hoverable:hover {
    background-color: #eeeeee;
}

div.styledWindow > div > p.error {
    color: #b10000;
}

div.styledWindow > div > h2 {
    text-align: left;
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1.4em;
    font-weight:bold;
}

div.styledWindow > h1 > a.closeWindow {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
}