#sheetDiv input {
	line-height: initial !important;
}

#mapContainer div.token {
	position: absolute;
	z-index: 4;
	text-align: center;
}

#mapContainer div.token:hover {
	background-color: rgba(0,0,0,.5);
	cursor: move;
}

#mapContainer div.token > div {
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-position: center center;
    background-repeat:no-repeat;
    background-size:contain;
}

#mapContainer div.token.target > div {
	border: 2px #FF0000 solid;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-radius: 25%;
}