/* Glagolitsa Free License */
@font-face {
    font-family: 'glagolitsaregular';
    src: url('glagolitsa-webfont.eot');
    src: url('glagolitsa-webfont.eot?#iefix') format('embedded-opentype'),
         url('glagolitsa-webfont.woff') format('woff'),
         url('glagolitsa-webfont.ttf') format('truetype'),
         url('glagolitsa-webfont.svg#glagolitsaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}