#conteudo #ficha #historiaButtons  a > span {
    color: #fff;
    border: none;
}

#conteudo #ficha #historiaButtons  a {
    width: 30px;
    height: 30px;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 1) {
    color: #b70000;
    background-color: #b70000;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 1) > span {
    background-color: #b70000;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 2) {
    color: #faa900;
    background-color: #faa900;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 2) > span {
    background-color: #faa900;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 3) {
    color: #eeee00;
    background-color: #eeee00;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 3) > span {
    background-color: #eeee00;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 4) {
    color: #06bf00;
    background-color: #06bf00;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 4) > span {
    background-color: #06bf00;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 5) {
    color: #0c00bf;
    background-color: #0c00bf;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 5) > span {
    background-color: #0c00bf;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 6) {
    color: #9200a8;
    background-color: #9200a8;
}

#conteudo #ficha #historiaButtons  a:nth-child(6n + 6) > span {
    background-color: #9200a8;
}

#conteudo #ficha #historiaContainer {
    border: 1px solid #000;
    background-color: #f4f2e2;
}

#conteudo #ficha #bigLeft #historiaTitle {
    
}

#conteudo #ficha #bigLeft #historiaContent {
    
}

#conteudo #ficha #bigLeft #historiaContent a:hover {
    cursor: pointer;
}