/* Moon Runes - License included in "/Ancient Magic/MOONRUNE.txt" */
@font-face {
    font-family: 'moon_runes';
    src: url('Ancient Magic/moonrune-webfont.eot');
    src: url('Ancient Magic/moonrune-webfont.eot?#iefix') format('embedded-opentype'),
         url('Ancient Magic/moonrune-webfont.woff') format('woff'),
         url('Ancient Magic/moonrune-webfont.ttf') format('truetype'),
         url('Ancient Magic/moonrune-webfont.svg#moon_runesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}