/* Lassus Font Free License */
@font-face {
    font-family: 'lassus';
    src: url('Musical/lassus-webfont.eot');
    src: url('Musical/lassus-webfont.eot?#iefix') format('embedded-opentype'),
         url('Musical/lassus-webfont.woff') format('woff'),
         url('Musical/lassus-webfont.ttf') format('truetype'),
         url('Musical/lassus-webfont.svg#lassusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}