/* Alphabet of the Magi Free License */
@font-face {
    font-family: 'alphabet_of_the_magi';
    src: url('Celestan/alpmagi-webfont.eot');
    src: url('Celestan/alpmagi-webfont.eot?#iefix') format('embedded-opentype'),
         url('Celestan/alpmagi-webfont.woff') format('woff'),
         url('Celestan/alpmagi-webfont.ttf') format('truetype'),
         url('Celestan/alpmagi-webfont.svg#alphabet_of_the_magiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}